<h3 class="text-center mt-5">Logo</h3>
<h1 class="text-center mt-4">Create Faster, Together, Better</h1>
<p  class="text-center mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio non,<br> porro modi minus nisi deserunt quo quasi, itaque error mollitia quidem! Nam iste <br> totam atque optio tempora repudiandae deleniti reiciendis!</p>

<div class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary" (click)="loading()">GET STARTED NOW</button>
</div>

<ngx-ui-loader
    fgsColor="#e3d1d1"
    pgColor="#e3d1d1"
    pbColor="#e3d1d1"
    text="Please wait"
    overlayColor="rgba(40, 40, 40, 0.8)"
    blur="5" 
></ngx-ui-loader>